# WARNING: Make your GitHub repo Private if you are using this as it is
# Example .gitignore file for your config dir.
#WHITLIST
!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*

!.ssh/
!id_rsa*

!node-red/

!appdaemon
!automations
!custom_components
!docs
!images
!packages
!scenes
!scripts
!themes
!www

#IGNORE
#generic
*.log
*.db
*.pyc
._*
__pycache__
*.crt
*.csr
*.key
.google.token
.uuid

#repertoires
.cloud
.storage
deps
custom_components/hacs
zigbee2mqtt/log

#fichiers
secrets.yaml
home-assistant.log
known_devices.yaml
ip_bans.yaml
home-assistant.db
home-assistant_v2.db
home-assistant_v2.db-*
zigbee2mqtt/configuration.yaml

#os
.DS_Store

#composants